{{!-- {{outlet}} --}}
<nav>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab" >
                {{#link-to "dashboard" class="active"}}
                 <i class="material-icons left">view_module</i>
                    Inicio
                {{/link-to}}
            </li>
            <li class="tab">
                 {{#link-to "nueva-alerta" class="active"}}
                  <i class="material-icons right">add_alert</i>
                    Nueva alerta
                {{/link-to}}
            </li>
        </ul>
    </div>
</nav>

{{#m-wrapper query='.collapsible' method='collapsible' }}
    <ul class="collapsible" data-collapsible="accordion">
        {{#each model as |alerta|}}
            {{#unless alerta.isNew}}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">warning</i>
                            {{alerta.titulo}}
                        <span class="new badge blue" data-badge-caption="Ver">
                            {{#link-to "ver-alerta" alerta.id}}
                            .
                           {{/link-to}}
                        </span>
                    </div>
                    <div class="collapsible-body">
                            <p>Motivo: {{alerta.descripcion}}</p>
                            <p>Fecha de Registro: {{moment-format alerta.fecha 'DD/MMM/YYYY HH:mm' }} </p>
                    </div>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
{{/m-wrapper}}

