{{!-- {{outlet}} --}}

<div class="collection">
    <a href="#!" class="collection-item">
        <span class="badge"> 1 </span>
        Mantenimiento Semanal
    </a>
    <a href="#!" class="collection-item">
        <span class="badge"> 2 </span>
        Corte de Agua
    </a>
    <a href="#!" class="collection-item">
        <span class="badge">3</span>
        Pago Mensual
    </a>
</div>

{{#link-to "nueva-alerta" class="waves-effect waves-light btn light-blue darken-2"}}
    <i class="material-icons right">cloud</i>
    Nueva Alerta
{{/link-to}}
{{#link-to "dashboard" class="waves-effect waves-light btn light-blue darken-2"}}
    <i class="material-icons right">cloud</i>
    Inicio
{{/link-to}}