{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}

<nav>
    <div class="nav-wrapper light-blue darken-2">
      <a class="brand-logo">
        MyGUHa App
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
</nav>

{{ outlet }}