<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                {{#link-to "status-usuario" model.id class="active"}}
                    <i class="material-icons left">perm_identity</i>
                    Status Usuario
                {{/link-to}}
            </li>
            <li class="tab">
                <a class="active" {{action 'cerrarSesion'}}>
                    <i class="material-icons right">close</i>
                    Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>

<hr>
{{#m-wrapper query='.parallax' method='parallax'}}
    <div class="parallax-container" style="height:200px">
        <div class="parallax">
            <img src="{{model.unidadHab.imageUrl}}">
        </div>
    </div>
{{/m-wrapper}}
<hr>
{{#m-wrapper query='.collapsible' method='collapsible' }}
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">warning</i>
                    {{#link-to "alertas"}}
                        Alertas
                    {{/link-to}}
                <span class="new badge blue" data-badge-caption="Crear">
                    {{#link-to "nueva-alerta"}}
                        .
                    {{/link-to}}
                </span>
            </div>
            <div class="collapsible-body">
                <p>Notifica a los demás colonos de situaciones en tiempo real.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">question_answer</i>
                    {{#link-to "encuestas"}}
                        Encuestas
                    {{/link-to}}
                <span class="new badge blue" data-badge-caption="Ir">
                    {{#link-to "encuestas"}}
                        .
                    {{/link-to}}
                </span>
            </div>
            <div class="collapsible-body">
                <p>Contribuye con tu administrador a la mejora y buen funcionamiento de tu unidad habitacional.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">add_box</i>
                    {{#link-to "solicitudes"}}
                        Solicitudes
                    {{/link-to}}
                <span class="new badge blue" data-badge-caption="Crear">
                    {{#link-to "nueva-solicitud"}}
                        .
                    {{/link-to}}
                </span>
            </div>
            <div class="collapsible-body">
                <p>Solicita espacios de tu unidad habitacional para realizar eventos.</p>
            </div>
        </li>
    </ul>
{{/m-wrapper}}

