<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a class="active" {{action 'cerrarSesion'}} >
                    Cerrar Sesión
                </a>
            </li>
            <li class="tab">
                {{#link-to "status-usuario" class="active"}}
                    Status Usuario
                {{/link-to}}
            </li>
        </ul>
    </div>
</nav>

<hr>
{{#m-wrapper query='.parallax' method='parallax'}}
    <div class="parallax-container" style="height:200px">
        <div class="parallax">
            <img src="{{model.unidadHab.imageUrl}}">
        </div>
    </div>
{{/m-wrapper}}
<hr>

<ul class="collection">
    <li class="collection-item">
        <div>
            {{#link-to "alertas"}}
                Alertas
            {{/link-to}}
            {{#link-to "nueva-alerta" class="secondary-content"}}
                <i class="material-icons">add_alert</i>
            {{/link-to}}
        </div>
    </li>
    <li class="collection-item">
        <div>
            {{#link-to "encuestas"}}
                Encuestas
            {{/link-to}}
           {{!--  {{#link-to "responder-encuesta" class="secondary-content"}}
                <i class="material-icons">question_answer</i>
            {{/link-to}} --}}
        </div>
    </li>
     <li class="collection-item">
        <div>
            {{#link-to "solicitudes"}}
                Solicitudes
            {{/link-to}}
            {{#link-to "nueva-solicitud" class="secondary-content"}}
                <i class="material-icons">add_box</i>
            {{/link-to}}
        </div>
    </li>
</ul>
<hr>