 <div class="row">
    <div class="col s12">
        <div class="card light-blue darken-2">
            <div class="card-content white-text">
                <span class="card-title">Registro</span>
                <p>Favor de contactar al administrador de la unidad.</p>
            </div>
            <div class="card-action">
                <a href="#">Enviar Correo</a>
                <a href="#">Llamada Telefónica</a>
                {{#link-to "login"}}
          	        Inicio
                {{/link-to}}
            </div>
        </div>
    </div>
 </div>