{{!-- {{outlet}} --}}

<div class="collection">
    <a href="#!" class="collection-item"><span class="badge">1</span>Uso de Cancha de Basketball</a>
    <a href="#!" class="collection-item"><span class="badge">2</span>Calle Simon Bolivar Cerrada </a>
</div>

{{#link-to "nueva-solicitud" class="waves-effect waves-light btn light-blue darken-2"}}
    <i class="material-icons right">cloud</i>
    Nueva Solicitud
{{/link-to}}
{{#link-to "dashboard" class="waves-effect waves-light btn light-blue darken-2"}}
    <i class="material-icons right">cloud</i>
    Inicio
{{/link-to}}