 <div class="row">
    <div class="col s12">
        <div class="card light-blue darken-2">
            <div class="card-content white-text">
                <span class="card-title">Usuario: Alex Resendiz</span>
                <p>Favor de contactar al administrador de la unidad.</p>
            </div>
            <div class="card-action">
                <a href="#">Saldo corriente</a>
                <a href="#">Direccion</a>
                {{#link-to "dashboard"}}
          	        Inicio
                {{/link-to}}
            </div>
        </div>
    </div>
 </div>